/* ========================================================================== Normalize.scss settings ========================================================================== */
/** Includes legacy browser support IE6/7 Set to false if you want to drop support for IE6 and IE7 */
/* Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Addresses styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 8/9/10. 2. Improves image quality when scaled in IE 7. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. 4. Improves appearance and consistency in all browsers. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Corrects text not wrapping in Firefox 3. 4. Corrects alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; height: 100%; width: 100%; font-size: 62.5%; line-height: 1.5; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments for WP
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/* Inline Responsive Media Query */
body { height: 100%; background: #fff; font-family: "Roboto", sans-serif; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { line-height: 1.4; margin-top: 0; }

h1 { font-size: 2.8rem; color: #942976; font-weight: bold; }

h2 { font-size: 2.8rem; color: #942976; font-weight: 300; }

h2.sub-page-title { margin-top: 2rem; color: #2a569b; }

h3 { font-size: 2.2rem; font-weight: 300; }

h4 { font-size: 2.2rem; font-weight: 300; color: #2a569b; }

h5 { font-size: 1.8rem; font-weight: bold; }

p, ul, ol, td, div { margin-top: 0; font-size: 1.8rem; }

ul { list-style: none; padding-left: 2.5rem; }

.main ul li:before { font-family: FontAwesome; content: "\f0da"; color: #942976; margin-right: 1rem; }

a { text-decoration: none; transition: all 0.3s ease; color: #25aae1; font-weight: bold; }

a:focus { outline: 0; }

a:hover { color: #942976; }

img { max-width: 100%; height: auto; }

/* Layout Rows */
.row { max-width: 1223px; margin: 0 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; padding: 0 2rem; }

.row.full { max-width: 100%; }

/* Header */
header .top-bar { background: #2a569b; height: 6rem; }

header .top-bar .row { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; }

header .top-bar a { color: #fff; font-size: 1.4rem; text-transform: uppercase; display: inline-block; margin-left: 3rem; }

header .top-bar i.fa { font-size: 2.2rem; }

header .menu-bar { height: 7rem; background: #eee; position: relative; z-index: 2; }

header .menu-bar .row { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; }

header .menu-bar .logo { width: 115px; margin-top: 2px; }

.home header .menu-bar { background: rgba(255, 255, 255, 0.54); }

.home header .menu-bar .row { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.home header .menu-bar .logo { display: none; }

#search { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

#search input { height: 2.6rem; border: none; width: 38rem; }

@media screen and (max-width: 768px) { #search input { width: 100%; } }

#search button { background: none; border: none; color: #fff; font-size: 2rem; margin-left: 1.2rem; line-height: 1.2; }

.logo img { max-width: 200px; }

.nav-toggle { background: none; border: none; font-weight: bold; outline: none; transition: all 0.3s ease; font-size: 3rem; color: #2a569b; }

@media screen and (max-width: 768px) { .nav-toggle { color: #eee; } }

.nav-toggle i { margin-left: 25px; color: #2a569b; }

/* Nav Overlay */
.nav-overlay { background: #fff; position: absolute; z-index: 99999; padding: 1% 0; width: 40%; top: 0; right: 0; transition: -webkit-transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }

.nav-overlay.show { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

@media screen and (max-width: 1100px) { .nav-overlay { width: 50%; } }

@media screen and (max-width: 959px) { .nav-overlay { width: 90%; } }

.nav-overlay .nav-close { font-weight: 300; font-size: 3rem; display: inline-block; margin-bottom: 5rem; margin-right: 3rem; color: #25aae1; float: right; letter-spacing: 0; text-transform: uppercase; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.nav-overlay .nav-close i { margin-left: 3rem; font-size: 5rem; }

.nav-overlay .nav-close:hover { color: #942976; }

.nav-overlay nav { margin-top: 10rem; width: 100%; }

.nav-overlay nav a { width: 100%; color: #25aae1; font-size: 1.6rem; font-weight: bold; display: inline-block; padding: 5px 0 5px 4.5rem; margin-bottom: 0.5px; }

.nav-overlay nav a:hover { color: #942976; background: #eee; }

.nav-overlay nav > ul > li { margin-bottom: 3rem; }

.nav-overlay nav > ul > li > a { font-size: 2rem; text-transform: uppercase; font-weight: 300; color: #58585a; }

.nav-overlay nav > ul > li > a:hover { background: none; color: #58585a; }

.nav-overlay nav > ul ul ul.sub-menu a { padding-left: 8.5rem; font-weight: normal; }

.nav-overlay nav .home a { font-weight: bold; color: #25aae1; }

.nav-overlay nav .home a:hover { color: #942976; background: #eee; }

.nav-overlay ul { width: 100%; list-style: none; margin: 0; padding: 0; }

.bg-overlay { visibility: hidden; opacity: 0; background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; transition: visibility 0.5s ease, opacity 0.5s ease; }

.bg-overlay.show { visibility: visible; opacity: 1; }

/* Home */
.masthead { background-repeat: no-repeat; background-position: center center; background-size: cover; margin-top: -70px; padding-top: 70px; min-height: 50rem; }

.masthead .row { padding: 20px 0; display: block; }

.masthead .text { margin-top: 4rem; max-width: 55%; }

.masthead .text h1 { text-transform: capitalize; }

.masthead .text a { color: #25aae1; font-weight: bold; }

.applications-section { background: #25aae1; text-align: center; color: #fff; padding: 3rem 0; }

.applications-section .row { display: block; }

.applications-section h2 { color: #fff; font-weight: bold; }

.applications-section .select2-container { height: 42px !important; width: 380px !important; }

.applications-section .select2-container .select2-selection--single .select2-selection__rendered { line-height: 42px; height: 42px; padding-left: 0; padding-right: 42px; font-size: 2rem; font-weight: bold; text-transform: uppercase; }

.applications-section .select2-container--default .select2-selection--single { border-radius: 0; border: none; height: 42px !important; }

.applications-section .select2-container--default .select2-selection--single .select2-selection__arrow { background: #2a569b !important; color: #fff; margin-left: 20px; width: 44px; height: 42px; right: 0; top: 0; }

.applications-section .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: transparent !important; }

.applications-section .select2-container--default .select2-selection--single .select2-selection__arrow b:before { font-family: FontAwesome; content: "\f13a"; color: white; font-size: 2rem; position: absolute; top: -17px; left: -7px; }

.applications-section .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent !important; }

.applications-section .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before { font-family: FontAwesome; content: "\f139"; color: white; font-size: 2rem; top: -12px; }

.applications-section .select2-results { border-color: #fff !important; }

.callouts { background: #b9e5fb; padding: 4rem 0; }

.callouts .callout { -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 0 3rem; }

.callouts .callout:nth-child(2) { border-left: 1px solid #fff; border-right: 1px solid #fff; }

.callouts h3 { font-size: 2.8rem; margin-top: 0.5rem; font-weight: 300; font-style: normal; color: #000; }

.callouts .button { margin: 0 auto; }

.button, input[type=submit] { background: none; display: block; width: 28rem; border: 1px solid #58585a; text-align: center; padding: 1rem; font-size: 2rem; font-weight: bold; color: #25aae1; text-transform: uppercase; }

.button:after, input[type=submit]:after { font-family: FontAwesome; content: "\f138"; margin-left: 10px; }

.button:hover, input[type=submit]:hover { color: #942976; }

.button.purple, input[type=submit].purple { color: #942976; }

.button.purple:hover, input[type=submit].purple:hover { color: #25aae1; }

.testimonial { background: #eee; padding: 3rem 0 1rem; }

.testimonial .row { display: block; text-align: center; }

.testimonial h4 { font-size: 2.8rem; font-weight: 300; color: #942976; }

.testimonial p { font-size: 2.6rem; }

.features { padding: 3rem 0; }

.features .feature { width: 50%; padding-right: 2rem; }

.features .feature:first-child { border-right: 1px solid #942976; }

.features .feature:last-child { padding-left: 3rem; }

.features img { margin-right: 2rem; margin-bottom: 2rem; float: left; }

.features h2 { margin-bottom: 0; line-height: 1.2; }

.features h2 a { color: #942976; font-weight: 300; }

.features h2 a:hover { color: #25aae1; }

.features h5 { font-size: 1.8rem; font-weight: bold; }

.features p { font-size: 1.8rem; }

.features p a { white-space: nowrap; }

.features .button { margin: 0 auto; clear: both; }

.event-callout { background: #eee; width: 1223px; margin: 2rem auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.event-callout .left { width: 280px; background: #25aae1; height: 100%; color: #fff; text-align: center; padding: 4.1rem; text-transform: uppercase; font-weight: bold; line-height: 1.2; }

.event-callout .day, .event-callout .year { display: block; font-size: 1.6rem; }

.event-callout .date { font-size: 3.8rem; white-space: nowrap; }

.event-callout .middle { width: 100%; padding: 0 2rem; }

.event-callout .middle h2 { margin: 0 0 1rem; }

.event-callout .middle h2 a { font-weight: 300; }

.event-callout .middle h5 { font-size: 1.8rem; font-weight: bold; margin: 0; }

.event-callout .right { padding: 2rem; }

.event-callout .right .button:first-child { margin-bottom: 2rem; }

/* Footer */
.site-footer { margin-top: 4rem; border-top: 1rem solid #942976; background: #eee; padding: 4rem 0 0; }

@media screen and (max-width: 768px) { .site-footer { background: #fff; }
  .site-footer .row { display: block; } }

.site-footer .logo img { max-width: 150px; margin-bottom: 2rem; }

.site-footer .col { margin-bottom: 4rem; margin-right: 2rem; }

@media screen and (max-width: 768px) { .site-footer .col { width: 100%; } }

.site-footer address { font-size: 1.8rem; font-weight: 300; line-height: 1.2; font-style: normal; margin-bottom: 2rem; }

.site-footer p { font-size: 1.8rem; font-weight: 300; line-height: 1.2; margin-bottom: 2rem; }

.site-footer .email-button { width: 280px; display: block; background: #25aae1; color: #fff; font-size: 1.6rem; font-weight: bold; padding: 1rem 2rem; margin-bottom: 2rem; }

.site-footer .email-button i { background: #fff; color: #25aae1; padding: 3px; border-radius: 3px; transition: all 0.3s ease; }

.site-footer .email-button:hover { background: #942976; }

.site-footer .email-button:hover i { color: #942976; }

.site-footer .footer-btm { background: #fff; padding: 2rem 0 0; }

.site-footer .footer-btm p { font-size: 1.4rem; line-height: 1.8; }

.site-footer .footer-btm a { font-weight: bold; }

@media screen and (max-width: 768px) { .site-footer nav { width: 100%; float: left; margin-top: 3rem; background: none; margin-bottom: 3rem; } }

.site-footer nav .home { display: none; }

.site-footer nav ul { list-style: none; }

.site-footer nav > ul { float: left; }

@media screen and (max-width: 768px) { .site-footer nav > ul { margin: 0; padding: 0; } }

@media screen and (max-width: 768px) { .site-footer nav > ul > li.open > ul.sub-menu { opacity: 1; height: auto; transition: opacity 1s ease-out; }
  .site-footer nav > ul > li.open > a:after { content: "\f056"; } }

.site-footer nav > ul > li > a { font-size: 1.8rem; color: #58585a; text-transform: uppercase; font-weight: 300; }

@media screen and (max-width: 768px) { .site-footer nav > ul > li > a { background: #eee; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; font-size: 2.2rem; padding: 0rem 1rem; color: #2a569b; font-weight: 300; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .site-footer nav > ul > li > a:after { font-family: FontAwesome; content: "\f055"; color: #25aae1; font-size: 2.6rem; } }

.site-footer nav > ul > li > ul.sub-menu { margin: 0; padding: 0; }

@media screen and (max-width: 768px) { .site-footer nav > ul > li > ul.sub-menu { transition: opacity 0s ease-out; opacity: 0; height: 0; overflow: hidden; padding: 0.5rem 0; } }

.site-footer nav > ul > li > ul.sub-menu ul.sub-menu a { font-weight: normal; }

.site-footer nav .menu-item-75, .site-footer nav .menu-item-76 { float: left; margin-right: 2rem; width: 28rem; height: 100%; min-height: 400px; }

@media screen and (max-width: 768px) { .site-footer nav .menu-item-75, .site-footer nav .menu-item-76 { min-height: 0; height: auto; width: 100%; } }

.site-footer nav .menu-item-77, .site-footer nav .menu-item-78 { float: left; margin-bottom: 2rem; }

@media screen and (max-width: 768px) { .site-footer nav .menu-item-77, .site-footer nav .menu-item-78 { width: 100%; margin-bottom: 0; } }

.site-footer nav a { display: inline-block; font-size: 1.6rem; font-weight: bold; margin-bottom: 1rem; }

.social-icons { margin: 0; padding: 0; }

.social-icons li { margin-right: 1rem; list-style: none; float: left; }

.social-icons i { text-align: center; width: 25px; height: 25px; padding: 5px; font-size: 1.6rem; background: #25aae1; color: #fff; border-radius: 5px; }

.social-icons i:hover { background: #942976; }

/* Page Layout */
@media screen and (max-width: 768px) { #body-wrap { display: block; } }

.main { width: 100%; padding-right: 2rem; }

@media screen and (max-width: 768px) { .main { padding-left: 2rem; } }

.sidebar { width: 28rem; }

@media screen and (max-width: 768px) { .sidebar { width: 100%; padding: 0 2rem; margin-top: 2rem; }
  .sidebar .button { width: 100%; } }

/* Page */
/* Buckets */
.bucket { margin-bottom: 3rem; }

.bucket .phone { color: #58585a; font-size: 1.6rem; margin-bottom: 1.5rem; display: block; }

.sidebar_callout h5 { background: #2a569b; font-size: 1.6rem; text-transform: uppercase; color: #fff; margin: 0; padding: 1rem 2rem; }

.sidebar_callout .text { background: #eee; padding: 2rem 2rem; line-height: 0; }

.sidebar_callout .text p { text-align: left; line-height: 1.4; font-size: 2.2rem; font-weight: 300; margin-bottom: 1rem; }

.sidebar_callout .text img { line-height: 0; }

.sidebar_callout.video .text { padding-bottom: 0.6rem; }

.sidebar_callout.video img { margin-bottom: 1rem; }

/* Accordion */
.expander { background: #eee; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; font-size: 2.2rem; padding: 0rem 1rem; color: #2a569b; font-weight: 300; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.expander i { color: #25aae1; font-size: 2.6rem; }

.expand-collapse { margin-bottom: 0rem; }

.expand-collapse .content { transition: opacity 0s ease-out; opacity: 0; height: 0; overflow: hidden; padding: 1rem 0; }

.expand-collapse.open .content { opacity: 1; height: auto; margin: 1rem 0 0; transition: opacity 1s ease-out; }

/* Product tagline */
.product-tagline { display: -webkit-flex; display: -ms-flexbox; display: flex; background: #b9e5fb; width: 100%; margin: 2rem 0; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.product-tagline .tagline { padding: 5rem 2rem; font-size: 2.2rem; color: #942976; font-style: italic; font-weight: 300; }

/* Product Table */
.product-table { width: 100%; margin-bottom: 2rem; }

.product-table th { background: #b9e5fb; font-size: 1.2rem; text-transform: uppercase; color: #58585a; text-align: left; padding: 3px 5px; }

.product-table td { font-size: 1.4rem; padding: 3px 5px; }

.product-table td .button { font-size: 1.2rem; padding: 3px; }

.product-table td p { margin: 0; padding: 0 !important; }

.product-table tr:nth-child(2) { background: #eee; }

.product-table input[type=number] { float: left; margin-right: 4rem; }

.product.woocommerce.add_to_cart_inline { border: none !important; }

.woocommerce-Price-amount { display: none; }

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart, .woocommerce a.added_to_cart { width: auto; font-size: 1.2rem !important; font-weight: bold; background: #25aae1; text-transform: uppercase; padding: 3px; line-height: 1; height: 1.8rem; color: #fff; border-radius: 0; float: right; }

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:after, .woocommerce a.added_to_cart:after { display: none; }

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover, .woocommerce a.added_to_cart:hover { background: #942976; }

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart { float: left; }

.product-lead-in { margin-top: 2rem; float: left; }

/* Responsive Tables */
.ml-responsive-table .ml-grid { float: left; border: none; margin-bottom: 2rem; background: #b9e5fb; }

.ml-responsive-table .ml-grid input[type=number] { float: left; margin-right: 4rem; }

.ml-responsive-table dt.ml-title { clear: none; float: left; padding-top: 9px !important; width: 25% !important; background: #b9e5fb !important; font-size: 1.2rem; text-transform: uppercase; color: #58585a; }

.ml-responsive-table dd.ml-value { clear: none; float: left; width: 75% !important; padding: 5px 2rem !important; background: #fff; }

.ml-responsive-table dl dd:nth-of-type(odd) { background: #eee; }

/* News Events Blog Careers */
.post { margin-top: 2rem; }

.post .post-title { margin-bottom: 0; }

.post .post-title a { font-weight: 300; }

/* Forms */
.salesforce_w2l_lead .w2linput.text { width: 100% !important; }

.salesforce_w2l_lead .w2linput.text.captcha { height: 30px !important; font-size: inherit !important; font-family: "Roboto", sans-serif !important; margin: 1rem 0 0 !important; text-align: left !important; }

.salesforce_w2l_lead .select2 { width: 50% !important; margin-bottom: 1rem; }

.salesforce_w2l_lead .select2 li:before { content: ""; }

/*# sourceMappingURL=app.css.map */