$lightgray: #eee;
$gray: #58585a;
$black: #000;
$white: #fff;
$darkblue: #2a569b;
$blue: #25aae1;
$lightblue: #b9e5fb;
$purple: #942976;
$orange: #f36d21;
$pink: #ed0c6e;
$green: #8dc63f;

$site-width: 1223px;

$primary-font: "Roboto", sans-serif;

$tablet: "914px";
$mobile: "768px";